* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-link {
  font-family: "Lato", sans-serif;
}

.nav-link:hover {
  border-bottom: solid 2px black;
  transition: 0.5s;
}

a {
  text-decoration: none;
}

footer {
  background-color: black;
  color: white;
  p {
    margin: 0;
  }

  .fab {
    font-size: 2.3rem;
    cursor: pointer;
    padding-right: 5px;
  }
}

.contact, #about, #products, #trending, #categories {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 478px) {
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }  
}
.btn1 {
  height: 45px;
  width: 35%;
  border: none;
  outline: none;
  background-color: rgb(248, 26, 92);
  color: white;
  border-radius: 60px;
}

.btn1:hover {
  background-color: rgb(223, 15, 77);
  transition: 0.5s;
}

.prod:hover {
  box-shadow: 0px 5px 13px 3px rgba(0,0,0,0.53);
  -webkit-box-shadow: 0px 5px 13px 3px rgba(0,0,0,0.53);
  -moz-box-shadow: 0px 5px 13px 3px rgba(0,0,0,0.53);
transition: 0.5s;
}

.cat {
  background-color: white;
  padding: 8px 0px;
  border-radius: 20px;
}
.cat:hover {
  background-color: blueviolet;
  color:white;
  padding: 8px 0px;
  border-radius: 20px;
  box-shadow: 0px 5px 13px 3px rgba(0,0,0,0.53);
  -webkit-box-shadow: 0px 5px 13px 3px rgba(0,0,0,0.53);
  -moz-box-shadow: 0px 5px 13px 3px rgba(0,0,0,0.53);
  transition: 0.5s;
}

.letter{
  animation: gradient 2.4s ease-in-out;
  white-space: nowrap;
}





.a01{ 
  animation-delay: 0.1s;
}
@keyframes gradient{
  0%{
    letter-spacing: 50px;
    text-indent: 50px;    
  }
  
  80%{
    letter-spacing: 0px;
    text-indent: 0px;    
  }
 
  
  100%{
    letter-spacing: 0px;
    text-indent: 0px;    
  }
  
}
